.PqM-Utility_fqMidi {

    display: flex;
    color: white;
}

.PqM-Utility_fqMidi_result {
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
    width: 100px;
}

.PqM-Utility_fqMidi_variable {
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}