.PqM-rows {
    width: 100%;
    clear: both;
    float: left;

    .PqM-row {
        clear: both;
        float: left;
        padding: 10px 10px 10px 230px;
        position: relative;
        margin: 20px 0 0;
        width: 100%;

        &_label {
            float: left;
            margin-left: -210px;
            text-align: right;
            width: 191px;
        }
    }
}