.PqM-Utility_fqMidi {
  display: flex; }

.PqM-Utility_fqMidi_result {
  font-size: 20px;
  font-weight: 600;
  padding-right: 10px;
  padding-left: 10px;
  width: 100px; }

.PqM-Utility_fqMidi_variable {
  font-size: 20px;
  font-weight: 600;
  padding-right: 10px;
  padding-left: 10px; }

.PqM {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  color: white; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none; }

.PqM-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); }

.PqM-main-navbar {
  color: #282c34; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.PqM-dropZone {
  background-color: #545d6e;
  min-height: 50px; }

.bp3-button.bp3-minimal.is-active {
  background-color: rgba(167, 182, 194, 0.85); }

.bp3-button.bp3-minimal.is-active:hover {
  background-color: rgba(167, 182, 194, 0.85); }

.PqM-main-navbar img {
  width: 85px;
  cursor: pointer; }
  .PqM-main-navbar img:hover {
    background: rgba(167, 182, 194, 0.3); }

.PqM-rows {
  width: 100%;
  clear: both;
  float: left; }
  .PqM-rows .PqM-row {
    clear: both;
    float: left;
    padding: 10px 10px 10px 230px;
    position: relative;
    margin: 20px 0 0;
    width: 100%; }
    .PqM-rows .PqM-row_label {
      float: left;
      margin-left: -210px;
      text-align: right;
      width: 191px; }
