.bp3-button.bp3-minimal.is-active {
    background-color: $selected_backgroubd;
}

.bp3-button.bp3-minimal.is-active:hover {
    background-color: $selected_backgroubd;
}

.PqM-main-navbar img {
    width: 85px;
}